---
import { SIDEBAR } from "../data/sidebar.js";
const { pathname } = new URL(Astro.request.url);
const BASE_URL = import.meta.env.BASE_URL;
---

<nav
	class="w-full pb-4 pr-2 pl-2 md:pb-0 md:w-3/12 border-b sm:border-b-0 md:border-r h-auto md:auto overflow-y-visible md:overflow-y-auto bg-neutral-100"
>
	<div class="divide-y divide-gray-300 divide-double">
		<div class="logo">
			<a href={`${BASE_URL}`}>
				<div class="flex justify-center items-center">
					<img
						src={`${BASE_URL}assets/first-logo.png`}
						alt="FIRST LEGO League logo"
						class="mx-auto md:mx-0 my-4 w-3/4 dark:invert py-1 px-1 lg:px-4 2xl:px-5"
					/>
				</div>
			</a>
			<h2>Newfoundland and Labrador</h2>
		</div>
		<ul class="nav">
			{
				SIDEBAR.map((section) => (
					<li>
						<a
							href={`${BASE_URL}${section.link}`}
							class="hover:underline"
							aria-current={section.link === pathname ? "true" : "false"}
						>
							<h2 class="text-xl font-semibold my-1">{section.text}</h2>
						</a>
						{section.children !== undefined && (
							<ul class="pl-2">
								{section.children?.map((child) => (
									<li>
										<a
											href={`${BASE_URL}${child.link}`}
											class="hover:underline"
											aria-current={child.link === pathname ? "true" : "false"}
										>
											{child.text}
										</a>
										{child.children !== undefined &&
											child.link === pathname && (
												<ul class="pl-2">
													{child.children?.map((nested) => (
														<li>
															<a
																href={`${BASE_URL}${nested.link}`}
																class="hover:underline text-sm"
																aria-current={
																	nested.link === pathname ? "true" : "false"
																}
															>
																{nested.text}
															</a>
														</li>
													))}
												</ul>
											)}
									</li>
								))}
							</ul>
						)}
					</li>
				))
			}
		</ul>
	</div>
</nav>
